##############################
# values in this file are not correct and just for example 
# developer have to set correct values of the variables and remove .example from filename 
##############################

DB_URL=mysql://username:password@dbserver.url/databasename?ssl={"rejectUnauthorized":true}
TWILIO_ACCOUNT_SID=AC03b6aa389f02ab5db03ea074f17e3377
TWILIO_AUTH_TOKEN=f1fb04b9d153dec126a506f56f84c5e7
TWILIO_MSG_SVC_SID=MG95bc3e1d2a35bf561e26a1b126986904